In [6]:
import pandas as pd
from sqlalchemy import create_engine

In [11]:
db_path = '../data/raw_data_project_m1.db'

conn_str = f'sqlite:///{db_path}'

engine = create_engine(conn_str)

In [12]:
pd.read_sql_query("SELECT name FROM sqlite_master WHERE type='table'", engine)

            name
0  personal_info
1   country_info
2    career_info
3      poll_info

In [13]:
pd.read_sql_query("SELECT * from personal_info LIMIT 20",engine)

,uuid,age,gender,dem_has_children,age_group
0,f6e7ee00-deac-0133-4de8-0a81e8b09a82,61 years old,male,NO,40_65
1,54f0f1c0-dda1-0133-a559-0a81e8b09a82,57 years old,male,yES,40_65
2,83127080-da3d-0133-c74f-0a81e8b09a82,32 years old,male,nO,26_39
3,15626d40-db13-0133-ea5c-0a81e8b09a82,45 years old,Male,YES,40_65
4,24954a70-db98-0133-4a64-0a81e8b09a82,41 years old,Fem,yES,40_65
5,28583060-dbe2-0133-ff9c-0a81e8b09a82,1990,FeMale,NO,26_39
6,b50dbb80-da53-0133-8956-0a81e8b09a82,1990,Fem,NO,26_39
7,dd743bb0-d9a5-0133-53b2-0a81e8b09a82,47 years old,Male,NO,40_65
8,4fde2370-da48-0133-3a42-0a81e8b09a82,34 years old,FeMale,nO,26_39
9,9949c4c0-da5f-0133-c832-0a81e8b09a82,1994,female,yES,juvenile
10,226cf850-db28-0133-c51a-0a81e8b09a82,49 years old,male,NO,40_65
11,69f1f400-dc5f-0133-ad9b-0a81e8b09a82,58 years old,male,YES,40_65
12,2351fbe0-de4c-0133-0d58-0a81e8b09a82,1991,female,NO,14_25
13,0f286c80-dd77-0133-7803-0a81e8b09a82,40 years old,male,YES,40_65
14,fe54f360-db27-0133-c444-0a81e8b09a82,37 years old,male,NO,26_39
15,960b1ce0-db01-0133-528c-0a81e8b09a82,48 years old,male,YES,40_65
16,d7912480-da41-0133-5bc1-0a81e8b09a82,31 years old,male,yES,26_39
17,d468c670-da40-0133-de39-0a81e8b09a82,1990,female,NO,26_39
18,76767d10-dd6c-0133-f56d-0a81e8b09a82,1999,female,nO,14_25
19,a96ed910-de55-0133-2582-0a81e8b09a82,34 years old,male,YES,26_39

In [14]:
pd.read_sql_query("SELECT * from country_info LIMIT 20",engine)

                                    uuid country_code        rural
0   f6e7ee00-deac-0133-4de8-0a81e8b09a82           AT  countryside
1   54f0f1c0-dda1-0133-a559-0a81e8b09a82           AT        urban
2   83127080-da3d-0133-c74f-0a81e8b09a82           AT         city
3   15626d40-db13-0133-ea5c-0a81e8b09a82           AT      Country
4   24954a70-db98-0133-4a64-0a81e8b09a82           AT         city
5   28583060-dbe2-0133-ff9c-0a81e8b09a82           AT  countryside
6   b50dbb80-da53-0133-8956-0a81e8b09a82           AT        urban
7   dd743bb0-d9a5-0133-53b2-0a81e8b09a82           AT        urban
8   4fde2370-da48-0133-3a42-0a81e8b09a82           AT         city
9   9949c4c0-da5f-0133-c832-0a81e8b09a82           AT        urban
10  226cf850-db28-0133-c51a-0a81e8b09a82           AT        urban
11  69f1f400-dc5f-0133-ad9b-0a81e8b09a82           AT         city
12  2351fbe0-de4c-0133-0d58-0a81e8b09a82           AT        urban
13  0f286c80-dd77-0133-7803-0a81e8b09a82           AT        rural
14  fe54f360-db27-0133-c444-0a81e8b09a82           AT      Country
15  960b1ce0-db01-0133-528c-0a81e8b09a82           AT         city
16  d7912480-da41-0133-5bc1-0a81e8b09a82           AT        rural
17  d468c670-da40-0133-de39-0a81e8b09a82           AT    Non-Rural
18  76767d10-dd6c-0133-f56d-0a81e8b09a82           AT         city
19  a96ed910-de55-0133-2582-0a81e8b09a82           AT        rural

In [15]:
pd.read_sql_query("SELECT * from career_info LIMIT 20",engine)

,uuid,dem_education_level,dem_full_time_job,normalized_job_code
0,f6e7ee00-deac-0133-4de8-0a81e8b09a82,no,no,None
1,54f0f1c0-dda1-0133-a559-0a81e8b09a82,high,yes,861a9b9151e11362eb3c77ca914172d0
2,83127080-da3d-0133-c74f-0a81e8b09a82,None,no,None
3,15626d40-db13-0133-ea5c-0a81e8b09a82,high,yes,049a3f3a2b5f85cb2971ba77ad66e10c
4,24954a70-db98-0133-4a64-0a81e8b09a82,high,yes,f4b2fb1aa40f661488e2782b6d57ad2f
5,28583060-dbe2-0133-ff9c-0a81e8b09a82,high,yes,27af8700f5577cec835acee2cb90a2ff
6,b50dbb80-da53-0133-8956-0a81e8b09a82,medium,no,None
7,dd743bb0-d9a5-0133-53b2-0a81e8b09a82,medium,yes,c1b670eba9ccb65e7c99f7da116d5b9c
8,4fde2370-da48-0133-3a42-0a81e8b09a82,medium,yes,d71c4164c99a5f9bca773e755a72f40f
9,9949c4c0-da5f-0133-c832-0a81e8b09a82,no,no,None
10,226cf850-db28-0133-c51a-0a81e8b09a82,high,yes,2ee80cf30e2483dfe0947adc0428f8c5
11,69f1f400-dc5f-0133-ad9b-0a81e8b09a82,medium,no,None
12,2351fbe0-de4c-0133-0d58-0a81e8b09a82,low,yes,897ef18a9321616495831a4b4b0c1bb2
13,0f286c80-dd77-0133-7803-0a81e8b09a82,medium,no,None
14,fe54f360-db27-0133-c444-0a81e8b09a82,medium,no,None
15,960b1ce0-db01-0133-528c-0a81e8b09a82,medium,yes,a003702c0cea282e17967772dd83de5e
16,d7912480-da41-0133-5bc1-0a81e8b09a82,low,no,None
17,d468c670-da40-0133-de39-0a81e8b09a82,high,no,None
18,76767d10-dd6c-0133-f56d-0a81e8b09a82,low,no,None
19,a96ed910-de55-0133-2582-0a81e8b09a82,medium,yes,04c82eae29e1c4a30eac0710b74ab276

In [16]:
pd.read_sql_query("SELECT * from poll_info LIMIT 20",engine)

,uuid,question_bbi_2016wave4_basicincome_awareness,question_bbi_2016wave4_basicincome_vote,question_bbi_2016wave4_basicincome_effect,question_bbi_2016wave4_basicincome_argumentsfor,question_bbi_2016wave4_basicincome_argumentsagainst
0,f6e7ee00-deac-0133-4de8-0a81e8b09a82,I know something about it,I would not vote,None of the above,None of the above,None of the above
1,54f0f1c0-dda1-0133-a559-0a81e8b09a82,I understand it fully,I would probably vote for it,A basic income would not affect my work choices,It increases appreciation for household work a...,It might encourage people to stop working
2,83127080-da3d-0133-c74f-0a81e8b09a82,I have heard just a little about it,I would not vote,‰Û_ gain additional skills,It creates more equality of opportunity,Foreigners might come to my country and take a...
3,15626d40-db13-0133-ea5c-0a81e8b09a82,I have heard just a little about it,I would probably vote for it,‰Û_ work less,It reduces anxiety about financing basic needs,None of the above
4,24954a70-db98-0133-4a64-0a81e8b09a82,I have heard just a little about it,I would probably vote for it,None of the above,It reduces anxiety about financing basic needs,It is impossible to finance | It might encoura...
5,28583060-dbe2-0133-ff9c-0a81e8b09a82,I understand it fully,I would vote against it,A basic income would not affect my work choices,It encourages financial independence and self-...,It is impossible to finance | It might encoura...
6,b50dbb80-da53-0133-8956-0a81e8b09a82,I know something about it,I would probably vote for it,‰Û_ work as a freelancer,It reduces anxiety about financing basic needs,Foreigners might come to my country and take a...
7,dd743bb0-d9a5-0133-53b2-0a81e8b09a82,I know something about it,I would probably vote for it,A basic income would not affect my work choices,It increases appreciation for household work a...,It might encourage people to stop working | Fo...
8,4fde2370-da48-0133-3a42-0a81e8b09a82,I have heard just a little about it,I would probably vote for it,None of the above,It creates more equality of opportunity | It r...,Foreigners might come to my country and take a...
9,9949c4c0-da5f-0133-c832-0a81e8b09a82,I understand it fully,I would vote for it,‰Û_ do more volunteering work,"It increases solidarity, because it is funded ...",Foreigners might come to my country and take a...
10,226cf850-db28-0133-c51a-0a81e8b09a82,I know something about it,I would probably vote for it,A basic income would not affect my work choices,It reduces anxiety about financing basic needs,It is against the principle of linking merit a...
11,69f1f400-dc5f-0133-ad9b-0a81e8b09a82,I know something about it,I would probably vote for it,‰Û_ stop working,It increases appreciation for household work a...,Foreigners might come to my country and take a...
12,2351fbe0-de4c-0133-0d58-0a81e8b09a82,I have never heard of it,I would probably vote for it,‰Û_ gain additional skills,It reduces anxiety about financing basic needs...,It might encourage people to stop working | It...
13,0f286c80-dd77-0133-7803-0a81e8b09a82,I have heard just a little about it,I would vote for it,A basic income would not affect my work choices,It creates more equality of opportunity,It might encourage people to stop working | Fo...
14,fe54f360-db27-0133-c444-0a81e8b09a82,I know something about it,I would probably vote for it,‰Û_ gain additional skills,It reduces anxiety about financing basic needs,It might encourage people to stop working | It...
15,960b1ce0-db01-0133-528c-0a81e8b09a82,I know something about it,I would probably vote for it,A basic income would not affect my work choices,It reduces anxiety about financing basic needs,It might encourage people to stop working
16,d7912480-da41-0133-5bc1-0a81e8b09a82,I know something about it,I would vote against it,‰Û_ stop working,It encourages financial independence and self-...,Foreigners might come to my country and take a...
17,d468c670-da40-0133-de39-0a81e8b09a82,I know something about it,I would probably vote for it,‰Û_ work as a freelancer,It reduces anxiety about financing basic needs...,It is against the principle of linking merit a...
18,76767d10-dd6c-0133-f56d-0a81e8b09a82,I have never heard of it,I would probably vote against it,‰Û_ gain additional skills,It creates more equality of opportunity,It is impossible to finance | It might encoura...
19,a96ed910-de55-0133-2582-0a81e8b09a82,I have heard just a little about it,I would probably vote against it,None of the above,It reduces anxiety about financing basic needs,It might encourage people to stop working | It...

In [65]:
table_query = """SELECT country_info.uuid, country_info.country_code, 
career_info.normalized_job_code as parent_uuid, 
personal_info.gender AS 'Gender',
count(country_info.uuid) AS 'Quantity'
FROM country_info
JOIN career_info ON career_info.uuid = country_info.uuid
JOIN personal_info ON personal_info.uuid = country_info.uuid
GROUP BY country_info.country_code"""

main_table = pd.read_sql_query(table_query,engine)

main_table.head()

,uuid,country_code,parent_uuid,Gender,Quantity
0,f6e7ee00-deac-0133-4de8-0a81e8b09a82,AT,None,male,133
1,dcab3aa0-dc79-0133-412b-0a81e8b09a82,BE,None,female,179
2,c5133fb0-dad4-0133-3b1b-0a81e8b09a82,BG,None,male,141
3,4b218c60-d966-0133-f927-0a81e8b09a82,CY,None,Male,13
4,69ebc3b0-d989-0133-9cad-0a81e8b09a82,CZ,e55556364d2096578fd153e9800e826f,male,189

In [66]:
main_table.shape

(28, 5)

In [67]:
main_table.country_code.unique()

array(['AT', 'BE', 'BG', 'CY', 'CZ', 'DE', 'DK', 'EE', 'ES', 'FI', 'FR',
       'GB', 'GR', 'HR', 'HU', 'IE', 'IT', 'LT', 'LU', 'LV', 'MT', 'NL',
       'PL', 'PT', 'RO', 'SE', 'SI', 'SK'], dtype=object)

In [80]:
main_table.parent_uuid.unique()

array([None, 'e55556364d2096578fd153e9800e826f',
       'd4624ed8068d24948e18303212593cd6',
       '7028f15ad274cb4d9505101b9c1306b1',
       '679fb7003e0aedc14891fcd15dd846c5',
       'edc64316da9707432443c7a4461abe6c',
       'ec3d88b2fd083b870b8c5a603898ed39',
       '8fd068c8d9be73abfa678856177b6c40',
       '1a281bf4bd1fe9b2a6e464e508bea167',
       '569da68cdcac43a3b4a0126ea9170570',
       'a2a9fbe67b4aa2b551ba0f3adac90a99',
       '27af8700f5577cec835acee2cb90a2ff',
       '07b7555fa790debaf5b04d1409ad5f11',
       '049a3f3a2b5f85cb2971ba77ad66e10c',
       '7bb15eefb19ed09c59349baad7e8469e',
       '7932d4705d002b47789c11edfaed685e',
       '41b2978a2c07c5f477e60f26372d6c85',
       '477b53ef09d37f098d5ed74f47fcbaec',
       'a4d5b8b38f9513825d0d94a981ebe962',
       '499f9d9b6722342608656559b15abd90',
       '775190277a849cba701b306a7b374c0a'], dtype=object)

In [69]:
main_table.Gender.unique()

array(['male', 'female', 'Male', 'Fem', 'FeMale'], dtype=object)

In [70]:
main_table['Gender'].str.lower()

main_table.loc[(main_table['Gender'].str.lower().str[0] == 'm'),'Gender']='Male'
main_table.loc[(main_table['Gender'].str.lower().str[0] == 'f'),'Gender']='Female'

In [71]:
main_table.head()

,uuid,country_code,parent_uuid,Gender,Quantity
0,f6e7ee00-deac-0133-4de8-0a81e8b09a82,AT,None,Male,133
1,dcab3aa0-dc79-0133-412b-0a81e8b09a82,BE,None,Female,179
2,c5133fb0-dad4-0133-3b1b-0a81e8b09a82,BG,None,Male,141
3,4b218c60-d966-0133-f927-0a81e8b09a82,CY,None,Male,13
4,69ebc3b0-d989-0133-9cad-0a81e8b09a82,CZ,e55556364d2096578fd153e9800e826f,Male,189

In [72]:
main_table.Gender.unique()

array(['Male', 'Female'], dtype=object)

In [73]:
main_table

,uuid,country_code,parent_uuid,Gender,Quantity
0,f6e7ee00-deac-0133-4de8-0a81e8b09a82,AT,None,Male,133
1,dcab3aa0-dc79-0133-412b-0a81e8b09a82,BE,None,Female,179
2,c5133fb0-dad4-0133-3b1b-0a81e8b09a82,BG,None,Male,141
3,4b218c60-d966-0133-f927-0a81e8b09a82,CY,None,Male,13
4,69ebc3b0-d989-0133-9cad-0a81e8b09a82,CZ,e55556364d2096578fd153e9800e826f,Male,189
5,ef77a230-da38-0133-53b8-0a81e8b09a82,DE,d4624ed8068d24948e18303212593cd6,Male,1420
6,a40a1b10-d949-0133-1a32-0a81e8b09a82,DK,None,Female,119
7,eb9d36d0-d969-0133-7a47-0a81e8b09a82,EE,None,Male,18
8,72a48100-da38-0133-487f-0a81e8b09a82,ES,7028f15ad274cb4d9505101b9c1306b1,Male,1005
9,c515ff00-d971-0133-f4b8-0a81e8b09a82,FI,679fb7003e0aedc14891fcd15dd846c5,Male,113
10,fdc6dff0-da94-0133-37fc-0a81e8b09a82,FR,None,Male,1248
11,8b1127b0-da43-0133-669a-0a81e8b09a82,GB,edc64316da9707432443c7a4461abe6c,Male,1199
12,57348880-da2c-0133-4ac1-0a81e8b09a82,GR,ec3d88b2fd083b870b8c5a603898ed39,Female,225
13,58815490-d8d1-0133-595e-0a81e8b09a82,HR,8fd068c8d9be73abfa678856177b6c40,Male,87
14,fb6edc60-d974-0133-3672-0a81e8b09a82,HU,1a281bf4bd1fe9b2a6e464e508bea167,Male,206
15,4fdaa440-da64-0133-c9eb-0a81e8b09a82,IE,569da68cdcac43a3b4a0126ea9170570,Female,90
16,8727d120-dbdf-0133-9a7e-0a81e8b09a82,IT,a2a9fbe67b4aa2b551ba0f3adac90a99,Female,1138
17,da13ce80-dafa-0133-a826-0a81e8b09a82,LT,27af8700f5577cec835acee2cb90a2ff,Female,50
18,f27dfe20-d8e7-0133-c07d-0a81e8b09a82,LU,07b7555fa790debaf5b04d1409ad5f11,Female,11
19,da897f20-da4b-0133-5131-0a81e8b09a82,LV,049a3f3a2b5f85cb2971ba77ad66e10c,Male,36
20,0c5e7600-d9ad-0133-8817-0a81e8b09a82,MT,7bb15eefb19ed09c59349baad7e8469e,Male,8
21,0001afe0-da16-0133-9d54-0a81e8b09a82,NL,7932d4705d002b47789c11edfaed685e,Male,331
22,c72d80d0-da1a-0133-adbc-0a81e8b09a82,PL,41b2978a2c07c5f477e60f26372d6c85,Male,860
23,2fca5780-d971-0133-cb98-0a81e8b09a82,PT,679fb7003e0aedc14891fcd15dd846c5,Female,202
24,4dcbe290-d9a0-0133-9ff1-0a81e8b09a82,RO,477b53ef09d37f098d5ed74f47fcbaec,Male,332
25,edabe060-d985-0133-3695-0a81e8b09a82,SE,a4d5b8b38f9513825d0d94a981ebe962,Female,175
26,15af63b0-dcf9-0133-1b88-0a81e8b09a82,SI,499f9d9b6722342608656559b15abd90,Male,28
27,3f6e33b0-da1b-0133-af26-0a81e8b09a82,SK,775190277a849cba701b306a7b374c0a,Male,93

In [74]:
import json
import requests
 
response = requests.get('http://api.dataatwork.org/v1/jobs')
results = response.json()
results

[{'uuid': '26bc4486dfd0f60b3bb0d8d64e001800',
  'title': '1st Grade Teacher',
  'normalized_job_title': '1st grade teacher',
  'parent_uuid': '51cc95467c1844c7dc1d923265c023b2'},
 {'uuid': '9be6e14491305132c175cb1781a3356c',
  'title': '1st Pressman',
  'normalized_job_title': '1st pressman',
  'parent_uuid': '96f1cf15fe5880d8660c70f0756944ab'},
 {'uuid': 'd38d16bab3f9f25ae34ae3e2aad254d4',
  'title': '1st Pressman On Web Press',
  'normalized_job_title': '1st pressman on web press',
  'parent_uuid': '96f1cf15fe5880d8660c70f0756944ab'},
 {'uuid': '8576a78b5c1cae3a567ca7fd34500357',
  'title': '21 Dealer',
  'normalized_job_title': '21 dealer',
  'parent_uuid': '4be080220c824dcb435d59ebf1c3ce80'},
 {'uuid': 'a59278d7f653db37e54a270345a91a05',
  'title': '2nd Grade Teacher',
  'normalized_job_title': '2nd grade teacher',
  'parent_uuid': '51cc95467c1844c7dc1d923265c023b2'},
 {'uuid': '9c631442c4966cd3e5a9e52fc70aff1c',
  'title': '2nd Pressman',
  'normalized_job_title': '2nd pressman',
  'parent_uuid': '96f1cf15fe5880d8660c70f0756944ab'},
 {'uuid': 'f5a2151d370ebca7b49778e036a287e8',
  'title': '2 Year Olds Preschool Teacher',
  'normalized_job_title': '2 year olds preschool teacher',
  'parent_uuid': 'd78b3ba8b749686d739480ee77f9e219'},
 {'uuid': 'af2e31c2c64ae223b06eb7f0cbf59a98',
  'title': '3D Animator',
  'normalized_job_title': '3d animator',
  'parent_uuid': 'caa551520f21c7c220716a8f82806246'},
 {'uuid': 'ac029293b0ea43f168b004c4f04fca31',
  'title': '3D Artist',
  'normalized_job_title': '3d artist',
  'parent_uuid': 'caa551520f21c7c220716a8f82806246'},
 {'uuid': '7d37dfe2eface4ae79db093b0a79385d',
  'title': '3D Designer',
  'normalized_job_title': '3d designer',
  'parent_uuid': 'caa551520f21c7c220716a8f82806246'},
 {'uuid': '6cb0a6786c08d6c91a4fc9f61e19f62d',
  'title': '3D Modeler',
  'normalized_job_title': '3d modeler',
  'parent_uuid': 'caa551520f21c7c220716a8f82806246'},
 {'uuid': 'ec45194ae348e1bb21415064364f038b',
  'title': '3D Specialist',
  'normalized_job_title': '3d specialist',
  'parent_uuid': 'caa551520f21c7c220716a8f82806246'},
 {'uuid': '4266e89fcaf06973fa23fc6f75b27682',
  'title': '3D Technologist',
  'normalized_job_title': '3d technologist',
  'parent_uuid': 'ce1c0fc273d3c803e94a73ff0b54816e'},
 {'uuid': '0cfb09fa1c6691fd6d77a3d3743fa8bc',
  'title': '3rd Grade Reading Teacher',
  'normalized_job_title': '3rd grade reading teacher',
  'parent_uuid': '51cc95467c1844c7dc1d923265c023b2'},
 {'uuid': 'ac668f6dc8795ace795b2c1f7c889ba4',
  'title': '3rd Grade Teacher',
  'normalized_job_title': '3rd grade teacher',
  'parent_uuid': '51cc95467c1844c7dc1d923265c023b2'},
 {'uuid': '7826ba3a7150817935915f63b861936b',
  'title': '3rd Pressman',
  'normalized_job_title': '3rd pressman',
  'parent_uuid': '96f1cf15fe5880d8660c70f0756944ab'},
 {'uuid': '90bc1d89aaee33a96c1b70fef0750d62',
  'title': '411 Directory Assistance Operator',
  'normalized_job_title': '411 directory assistance operator',
  'parent_uuid': 'f0fc66d367f370fa64da4780019702cd'},
 {'uuid': '814eb6844cf824e6945fb02a48f0e569',
  'title': '4-H Youth Development Specialist',
  'normalized_job_title': '4h youth development specialist',
  'parent_uuid': '1028b80a2ce2bfb940b2198f487c6abb'},
 {'uuid': '772053d8bb2c6e127b0bf216e50285ed',
  'title': '4th Grade Math Teacher',
  'normalized_job_title': '4th grade math teacher',
  'parent_uuid': '51cc95467c1844c7dc1d923265c023b2'},
 {'uuid': 'de0a3e90cdd112dd78120d4c8a9422b2',
  'title': '4th Grade Teacher',
  'normalized_job_title': '4th grade teacher',
  'parent_uuid': '51cc95467c1844c7dc1d923265c023b2'},
 {'links': [{'rel': 'self', 'href': '/jobs?offset=0&limit=20'},
   {'rel': 'first', 'href': '/jobs?offset=0&limit=20'},
   {'rel': 'next', 'href': '/jobs?offset=20&limit=20'},
   {'rel': 'last', 'href': '/jobs?offset=46260&limit=20'}]}]

In [75]:
jobs = pd.DataFrame(results)
jobs

,uuid,title,normalized_job_title,parent_uuid,links
0,26bc4486dfd0f60b3bb0d8d64e001800,1st Grade Teacher,1st grade teacher,51cc95467c1844c7dc1d923265c023b2,NaN
1,9be6e14491305132c175cb1781a3356c,1st Pressman,1st pressman,96f1cf15fe5880d8660c70f0756944ab,NaN
2,d38d16bab3f9f25ae34ae3e2aad254d4,1st Pressman On Web Press,1st pressman on web press,96f1cf15fe5880d8660c70f0756944ab,NaN
3,8576a78b5c1cae3a567ca7fd34500357,21 Dealer,21 dealer,4be080220c824dcb435d59ebf1c3ce80,NaN
4,a59278d7f653db37e54a270345a91a05,2nd Grade Teacher,2nd grade teacher,51cc95467c1844c7dc1d923265c023b2,NaN
5,9c631442c4966cd3e5a9e52fc70aff1c,2nd Pressman,2nd pressman,96f1cf15fe5880d8660c70f0756944ab,NaN
6,f5a2151d370ebca7b49778e036a287e8,2 Year Olds Preschool Teacher,2 year olds preschool teacher,d78b3ba8b749686d739480ee77f9e219,NaN
7,af2e31c2c64ae223b06eb7f0cbf59a98,3D Animator,3d animator,caa551520f21c7c220716a8f82806246,NaN
8,ac029293b0ea43f168b004c4f04fca31,3D Artist,3d artist,caa551520f21c7c220716a8f82806246,NaN
9,7d37dfe2eface4ae79db093b0a79385d,3D Designer,3d designer,caa551520f21c7c220716a8f82806246,NaN
10,6cb0a6786c08d6c91a4fc9f61e19f62d,3D Modeler,3d modeler,caa551520f21c7c220716a8f82806246,NaN
11,ec45194ae348e1bb21415064364f038b,3D Specialist,3d specialist,caa551520f21c7c220716a8f82806246,NaN
12,4266e89fcaf06973fa23fc6f75b27682,3D Technologist,3d technologist,ce1c0fc273d3c803e94a73ff0b54816e,NaN
13,0cfb09fa1c6691fd6d77a3d3743fa8bc,3rd Grade Reading Teacher,3rd grade reading teacher,51cc95467c1844c7dc1d923265c023b2,NaN
14,ac668f6dc8795ace795b2c1f7c889ba4,3rd Grade Teacher,3rd grade teacher,51cc95467c1844c7dc1d923265c023b2,NaN
15,7826ba3a7150817935915f63b861936b,3rd Pressman,3rd pressman,96f1cf15fe5880d8660c70f0756944ab,NaN
16,90bc1d89aaee33a96c1b70fef0750d62,411 Directory Assistance Operator,411 directory assistance operator,f0fc66d367f370fa64da4780019702cd,NaN
17,814eb6844cf824e6945fb02a48f0e569,4-H Youth Development Specialist,4h youth development specialist,1028b80a2ce2bfb940b2198f487c6abb,NaN
18,772053d8bb2c6e127b0bf216e50285ed,4th Grade Math Teacher,4th grade math teacher,51cc95467c1844c7dc1d923265c023b2,NaN
19,de0a3e90cdd112dd78120d4c8a9422b2,4th Grade Teacher,4th grade teacher,51cc95467c1844c7dc1d923265c023b2,NaN
20,NaN,NaN,NaN,NaN,"[{'rel': 'self', 'href': '/jobs?offset=0&limit..."

In [76]:
clean_jobs = jobs[['parent_uuid','title']]
clean_jobs

                         parent_uuid                              title
0   51cc95467c1844c7dc1d923265c023b2                  1st Grade Teacher
1   96f1cf15fe5880d8660c70f0756944ab                       1st Pressman
2   96f1cf15fe5880d8660c70f0756944ab          1st Pressman On Web Press
3   4be080220c824dcb435d59ebf1c3ce80                          21 Dealer
4   51cc95467c1844c7dc1d923265c023b2                  2nd Grade Teacher
5   96f1cf15fe5880d8660c70f0756944ab                       2nd Pressman
6   d78b3ba8b749686d739480ee77f9e219      2 Year Olds Preschool Teacher
7   caa551520f21c7c220716a8f82806246                        3D Animator
8   caa551520f21c7c220716a8f82806246                          3D Artist
9   caa551520f21c7c220716a8f82806246                        3D Designer
10  caa551520f21c7c220716a8f82806246                         3D Modeler
11  caa551520f21c7c220716a8f82806246                      3D Specialist
12  ce1c0fc273d3c803e94a73ff0b54816e                    3D Technologist
13  51cc95467c1844c7dc1d923265c023b2          3rd Grade Reading Teacher
14  51cc95467c1844c7dc1d923265c023b2                  3rd Grade Teacher
15  96f1cf15fe5880d8660c70f0756944ab                       3rd Pressman
16  f0fc66d367f370fa64da4780019702cd  411 Directory Assistance Operator
17  1028b80a2ce2bfb940b2198f487c6abb   4-H Youth Development Specialist
18  51cc95467c1844c7dc1d923265c023b2             4th Grade Math Teacher
19  51cc95467c1844c7dc1d923265c023b2                  4th Grade Teacher
20                               NaN                                NaN

In [77]:
final = pd.merge(main_table, clean_jobs, on="parent_uuid")
final

,uuid,country_code,parent_uuid,Gender,Quantity,title
0,f6e7ee00-deac-0133-4de8-0a81e8b09a82,AT,None,Male,133,NaN
1,dcab3aa0-dc79-0133-412b-0a81e8b09a82,BE,None,Female,179,NaN
2,c5133fb0-dad4-0133-3b1b-0a81e8b09a82,BG,None,Male,141,NaN
3,4b218c60-d966-0133-f927-0a81e8b09a82,CY,None,Male,13,NaN
4,a40a1b10-d949-0133-1a32-0a81e8b09a82,DK,None,Female,119,NaN
5,eb9d36d0-d969-0133-7a47-0a81e8b09a82,EE,None,Male,18,NaN
6,fdc6dff0-da94-0133-37fc-0a81e8b09a82,FR,None,Male,1248,NaN

In [83]:
table_query2 = """SELECT *
FROM country_info
JOIN career_info ON career_info.uuid = country_info.uuid
JOIN personal_info ON personal_info.uuid = country_info.uuid
GROUP BY country_info.country_code"""

main_table2 = pd.read_sql_query(table_query2,engine)
main_table2.rename(columns={'normalized_job_code': 'parent_uuid'},inplace=True)

main_table2.head()

,uuid,country_code,rural,uuid,dem_education_level,dem_full_time_job,parent_uuid,uuid,age,gender,dem_has_children,age_group
0,f6e7ee00-deac-0133-4de8-0a81e8b09a82,AT,countryside,f6e7ee00-deac-0133-4de8-0a81e8b09a82,no,no,None,f6e7ee00-deac-0133-4de8-0a81e8b09a82,61 years old,male,NO,40_65
1,dcab3aa0-dc79-0133-412b-0a81e8b09a82,BE,urban,dcab3aa0-dc79-0133-412b-0a81e8b09a82,medium,no,None,dcab3aa0-dc79-0133-412b-0a81e8b09a82,48 years old,female,yES,40_65
2,c5133fb0-dad4-0133-3b1b-0a81e8b09a82,BG,Non-Rural,c5133fb0-dad4-0133-3b1b-0a81e8b09a82,medium,no,None,c5133fb0-dad4-0133-3b1b-0a81e8b09a82,40 years old,male,nO,40_65
3,4b218c60-d966-0133-f927-0a81e8b09a82,CY,city,4b218c60-d966-0133-f927-0a81e8b09a82,low,no,None,4b218c60-d966-0133-f927-0a81e8b09a82,2000,Male,nO,juvenile
4,69ebc3b0-d989-0133-9cad-0a81e8b09a82,CZ,city,69ebc3b0-d989-0133-9cad-0a81e8b09a82,medium,yes,e55556364d2096578fd153e9800e826f,69ebc3b0-d989-0133-9cad-0a81e8b09a82,1986,male,nO,26_39

In [85]:
final2 = pd.merge(main_table2, clean_jobs, on="parent_uuid")
final2

,uuid,country_code,rural,uuid,dem_education_level,dem_full_time_job,parent_uuid,uuid,age,gender,dem_has_children,age_group,title
0,f6e7ee00-deac-0133-4de8-0a81e8b09a82,AT,countryside,f6e7ee00-deac-0133-4de8-0a81e8b09a82,no,no,None,f6e7ee00-deac-0133-4de8-0a81e8b09a82,61 years old,male,NO,40_65,NaN
1,dcab3aa0-dc79-0133-412b-0a81e8b09a82,BE,urban,dcab3aa0-dc79-0133-412b-0a81e8b09a82,medium,no,None,dcab3aa0-dc79-0133-412b-0a81e8b09a82,48 years old,female,yES,40_65,NaN
2,c5133fb0-dad4-0133-3b1b-0a81e8b09a82,BG,Non-Rural,c5133fb0-dad4-0133-3b1b-0a81e8b09a82,medium,no,None,c5133fb0-dad4-0133-3b1b-0a81e8b09a82,40 years old,male,nO,40_65,NaN
3,4b218c60-d966-0133-f927-0a81e8b09a82,CY,city,4b218c60-d966-0133-f927-0a81e8b09a82,low,no,None,4b218c60-d966-0133-f927-0a81e8b09a82,2000,Male,nO,juvenile,NaN
4,a40a1b10-d949-0133-1a32-0a81e8b09a82,DK,city,a40a1b10-d949-0133-1a32-0a81e8b09a82,medium,no,None,a40a1b10-d949-0133-1a32-0a81e8b09a82,47 years old,Fem,nO,40_65,NaN
5,eb9d36d0-d969-0133-7a47-0a81e8b09a82,EE,urban,eb9d36d0-d969-0133-7a47-0a81e8b09a82,low,no,None,eb9d36d0-d969-0133-7a47-0a81e8b09a82,1999,male,nO,14_25,NaN
6,fdc6dff0-da94-0133-37fc-0a81e8b09a82,FR,rural,fdc6dff0-da94-0133-37fc-0a81e8b09a82,medium,no,None,fdc6dff0-da94-0133-37fc-0a81e8b09a82,49 years old,male,YES,40_65,NaN