In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [5]:
db_path = '../data/raw_data_project_m1.db'

conn_str = f'sqlite:///{db_path}'

engine = create_engine(conn_str)

In [6]:
pd.read_sql_query("SELECT name FROM sqlite_master WHERE type='table'", engine)

            name
0  personal_info
1   country_info
2    career_info
3      poll_info

In [7]:
pd.read_sql_query("SELECT * from personal_info LIMIT 20",engine)

,uuid,age,gender,dem_has_children,age_group
0,f6e7ee00-deac-0133-4de8-0a81e8b09a82,61 years old,male,NO,40_65
1,54f0f1c0-dda1-0133-a559-0a81e8b09a82,57 years old,male,yES,40_65
2,83127080-da3d-0133-c74f-0a81e8b09a82,32 years old,male,nO,26_39
3,15626d40-db13-0133-ea5c-0a81e8b09a82,45 years old,Male,YES,40_65
4,24954a70-db98-0133-4a64-0a81e8b09a82,41 years old,Fem,yES,40_65
5,28583060-dbe2-0133-ff9c-0a81e8b09a82,1990,FeMale,NO,26_39
6,b50dbb80-da53-0133-8956-0a81e8b09a82,1990,Fem,NO,26_39
7,dd743bb0-d9a5-0133-53b2-0a81e8b09a82,47 years old,Male,NO,40_65
8,4fde2370-da48-0133-3a42-0a81e8b09a82,34 years old,FeMale,nO,26_39
9,9949c4c0-da5f-0133-c832-0a81e8b09a82,1994,female,yES,juvenile
10,226cf850-db28-0133-c51a-0a81e8b09a82,49 years old,male,NO,40_65
11,69f1f400-dc5f-0133-ad9b-0a81e8b09a82,58 years old,male,YES,40_65
12,2351fbe0-de4c-0133-0d58-0a81e8b09a82,1991,female,NO,14_25
13,0f286c80-dd77-0133-7803-0a81e8b09a82,40 years old,male,YES,40_65
14,fe54f360-db27-0133-c444-0a81e8b09a82,37 years old,male,NO,26_39
15,960b1ce0-db01-0133-528c-0a81e8b09a82,48 years old,male,YES,40_65
16,d7912480-da41-0133-5bc1-0a81e8b09a82,31 years old,male,yES,26_39
17,d468c670-da40-0133-de39-0a81e8b09a82,1990,female,NO,26_39
18,76767d10-dd6c-0133-f56d-0a81e8b09a82,1999,female,nO,14_25
19,a96ed910-de55-0133-2582-0a81e8b09a82,34 years old,male,YES,26_39

In [8]:
pd.read_sql_query("SELECT * from country_info LIMIT 20",engine)

                                    uuid country_code        rural
0   f6e7ee00-deac-0133-4de8-0a81e8b09a82           AT  countryside
1   54f0f1c0-dda1-0133-a559-0a81e8b09a82           AT        urban
2   83127080-da3d-0133-c74f-0a81e8b09a82           AT         city
3   15626d40-db13-0133-ea5c-0a81e8b09a82           AT      Country
4   24954a70-db98-0133-4a64-0a81e8b09a82           AT         city
5   28583060-dbe2-0133-ff9c-0a81e8b09a82           AT  countryside
6   b50dbb80-da53-0133-8956-0a81e8b09a82           AT        urban
7   dd743bb0-d9a5-0133-53b2-0a81e8b09a82           AT        urban
8   4fde2370-da48-0133-3a42-0a81e8b09a82           AT         city
9   9949c4c0-da5f-0133-c832-0a81e8b09a82           AT        urban
10  226cf850-db28-0133-c51a-0a81e8b09a82           AT        urban
11  69f1f400-dc5f-0133-ad9b-0a81e8b09a82           AT         city
12  2351fbe0-de4c-0133-0d58-0a81e8b09a82           AT        urban
13  0f286c80-dd77-0133-7803-0a81e8b09a82           AT        rural
14  fe54f360-db27-0133-c444-0a81e8b09a82           AT      Country
15  960b1ce0-db01-0133-528c-0a81e8b09a82           AT         city
16  d7912480-da41-0133-5bc1-0a81e8b09a82           AT        rural
17  d468c670-da40-0133-de39-0a81e8b09a82           AT    Non-Rural
18  76767d10-dd6c-0133-f56d-0a81e8b09a82           AT         city
19  a96ed910-de55-0133-2582-0a81e8b09a82           AT        rural

In [9]:
pd.read_sql_query("SELECT * from career_info LIMIT 20",engine)

,uuid,dem_education_level,dem_full_time_job,normalized_job_code
0,f6e7ee00-deac-0133-4de8-0a81e8b09a82,no,no,None
1,54f0f1c0-dda1-0133-a559-0a81e8b09a82,high,yes,861a9b9151e11362eb3c77ca914172d0
2,83127080-da3d-0133-c74f-0a81e8b09a82,None,no,None
3,15626d40-db13-0133-ea5c-0a81e8b09a82,high,yes,049a3f3a2b5f85cb2971ba77ad66e10c
4,24954a70-db98-0133-4a64-0a81e8b09a82,high,yes,f4b2fb1aa40f661488e2782b6d57ad2f
5,28583060-dbe2-0133-ff9c-0a81e8b09a82,high,yes,27af8700f5577cec835acee2cb90a2ff
6,b50dbb80-da53-0133-8956-0a81e8b09a82,medium,no,None
7,dd743bb0-d9a5-0133-53b2-0a81e8b09a82,medium,yes,c1b670eba9ccb65e7c99f7da116d5b9c
8,4fde2370-da48-0133-3a42-0a81e8b09a82,medium,yes,d71c4164c99a5f9bca773e755a72f40f
9,9949c4c0-da5f-0133-c832-0a81e8b09a82,no,no,None
10,226cf850-db28-0133-c51a-0a81e8b09a82,high,yes,2ee80cf30e2483dfe0947adc0428f8c5
11,69f1f400-dc5f-0133-ad9b-0a81e8b09a82,medium,no,None
12,2351fbe0-de4c-0133-0d58-0a81e8b09a82,low,yes,897ef18a9321616495831a4b4b0c1bb2
13,0f286c80-dd77-0133-7803-0a81e8b09a82,medium,no,None
14,fe54f360-db27-0133-c444-0a81e8b09a82,medium,no,None
15,960b1ce0-db01-0133-528c-0a81e8b09a82,medium,yes,a003702c0cea282e17967772dd83de5e
16,d7912480-da41-0133-5bc1-0a81e8b09a82,low,no,None
17,d468c670-da40-0133-de39-0a81e8b09a82,high,no,None
18,76767d10-dd6c-0133-f56d-0a81e8b09a82,low,no,None
19,a96ed910-de55-0133-2582-0a81e8b09a82,medium,yes,04c82eae29e1c4a30eac0710b74ab276

In [10]:
pd.read_sql_query("SELECT * from poll_info LIMIT 20",engine)

,uuid,question_bbi_2016wave4_basicincome_awareness,question_bbi_2016wave4_basicincome_vote,question_bbi_2016wave4_basicincome_effect,question_bbi_2016wave4_basicincome_argumentsfor,question_bbi_2016wave4_basicincome_argumentsagainst
0,f6e7ee00-deac-0133-4de8-0a81e8b09a82,I know something about it,I would not vote,None of the above,None of the above,None of the above
1,54f0f1c0-dda1-0133-a559-0a81e8b09a82,I understand it fully,I would probably vote for it,A basic income would not affect my work choices,It increases appreciation for household work a...,It might encourage people to stop working
2,83127080-da3d-0133-c74f-0a81e8b09a82,I have heard just a little about it,I would not vote,‰Û_ gain additional skills,It creates more equality of opportunity,Foreigners might come to my country and take a...
3,15626d40-db13-0133-ea5c-0a81e8b09a82,I have heard just a little about it,I would probably vote for it,‰Û_ work less,It reduces anxiety about financing basic needs,None of the above
4,24954a70-db98-0133-4a64-0a81e8b09a82,I have heard just a little about it,I would probably vote for it,None of the above,It reduces anxiety about financing basic needs,It is impossible to finance | It might encoura...
5,28583060-dbe2-0133-ff9c-0a81e8b09a82,I understand it fully,I would vote against it,A basic income would not affect my work choices,It encourages financial independence and self-...,It is impossible to finance | It might encoura...
6,b50dbb80-da53-0133-8956-0a81e8b09a82,I know something about it,I would probably vote for it,‰Û_ work as a freelancer,It reduces anxiety about financing basic needs,Foreigners might come to my country and take a...
7,dd743bb0-d9a5-0133-53b2-0a81e8b09a82,I know something about it,I would probably vote for it,A basic income would not affect my work choices,It increases appreciation for household work a...,It might encourage people to stop working | Fo...
8,4fde2370-da48-0133-3a42-0a81e8b09a82,I have heard just a little about it,I would probably vote for it,None of the above,It creates more equality of opportunity | It r...,Foreigners might come to my country and take a...
9,9949c4c0-da5f-0133-c832-0a81e8b09a82,I understand it fully,I would vote for it,‰Û_ do more volunteering work,"It increases solidarity, because it is funded ...",Foreigners might come to my country and take a...
10,226cf850-db28-0133-c51a-0a81e8b09a82,I know something about it,I would probably vote for it,A basic income would not affect my work choices,It reduces anxiety about financing basic needs,It is against the principle of linking merit a...
11,69f1f400-dc5f-0133-ad9b-0a81e8b09a82,I know something about it,I would probably vote for it,‰Û_ stop working,It increases appreciation for household work a...,Foreigners might come to my country and take a...
12,2351fbe0-de4c-0133-0d58-0a81e8b09a82,I have never heard of it,I would probably vote for it,‰Û_ gain additional skills,It reduces anxiety about financing basic needs...,It might encourage people to stop working | It...
13,0f286c80-dd77-0133-7803-0a81e8b09a82,I have heard just a little about it,I would vote for it,A basic income would not affect my work choices,It creates more equality of opportunity,It might encourage people to stop working | Fo...
14,fe54f360-db27-0133-c444-0a81e8b09a82,I know something about it,I would probably vote for it,‰Û_ gain additional skills,It reduces anxiety about financing basic needs,It might encourage people to stop working | It...
15,960b1ce0-db01-0133-528c-0a81e8b09a82,I know something about it,I would probably vote for it,A basic income would not affect my work choices,It reduces anxiety about financing basic needs,It might encourage people to stop working
16,d7912480-da41-0133-5bc1-0a81e8b09a82,I know something about it,I would vote against it,‰Û_ stop working,It encourages financial independence and self-...,Foreigners might come to my country and take a...
17,d468c670-da40-0133-de39-0a81e8b09a82,I know something about it,I would probably vote for it,‰Û_ work as a freelancer,It reduces anxiety about financing basic needs...,It is against the principle of linking merit a...
18,76767d10-dd6c-0133-f56d-0a81e8b09a82,I have never heard of it,I would probably vote against it,‰Û_ gain additional skills,It creates more equality of opportunity,It is impossible to finance | It might encoura...
19,a96ed910-de55-0133-2582-0a81e8b09a82,I have heard just a little about it,I would probably vote against it,None of the above,It reduces anxiety about financing basic needs,It might encourage people to stop working | It...

In [76]:
table_query = """SELECT country_info.country_code, 
career_info.normalized_job_code, 
personal_info.gender AS 'Gender',
count(country_info.uuid) AS 'Quantity'
FROM country_info
JOIN career_info ON career_info.uuid = country_info.uuid
JOIN personal_info ON personal_info.uuid = country_info.uuid
GROUP BY country_info.country_code"""

main_table = pd.read_sql_query(table_query,engine)

main_table.head()

  country_code               normalized_job_code  Gender  Quantity
0           AT                              None    male       133
1           BE                              None  female       179
2           BG                              None    male       141
3           CY                              None    Male        13
4           CZ  e55556364d2096578fd153e9800e826f    male       189

In [79]:
main_table.shape

(28, 4)

In [80]:
main_table.country_code.unique()

array(['AT', 'BE', 'BG', 'CY', 'CZ', 'DE', 'DK', 'EE', 'ES', 'FI', 'FR',
       'GB', 'GR', 'HR', 'HU', 'IE', 'IT', 'LT', 'LU', 'LV', 'MT', 'NL',
       'PL', 'PT', 'RO', 'SE', 'SI', 'SK'], dtype=object)

In [81]:
main_table.normalized_job_code.unique()

array([None, 'e55556364d2096578fd153e9800e826f',
       'd4624ed8068d24948e18303212593cd6',
       '7028f15ad274cb4d9505101b9c1306b1',
       '679fb7003e0aedc14891fcd15dd846c5',
       'edc64316da9707432443c7a4461abe6c',
       'ec3d88b2fd083b870b8c5a603898ed39',
       '8fd068c8d9be73abfa678856177b6c40',
       '1a281bf4bd1fe9b2a6e464e508bea167',
       '569da68cdcac43a3b4a0126ea9170570',
       'a2a9fbe67b4aa2b551ba0f3adac90a99',
       '27af8700f5577cec835acee2cb90a2ff',
       '07b7555fa790debaf5b04d1409ad5f11',
       '049a3f3a2b5f85cb2971ba77ad66e10c',
       '7bb15eefb19ed09c59349baad7e8469e',
       '7932d4705d002b47789c11edfaed685e',
       '41b2978a2c07c5f477e60f26372d6c85',
       '477b53ef09d37f098d5ed74f47fcbaec',
       'a4d5b8b38f9513825d0d94a981ebe962',
       '499f9d9b6722342608656559b15abd90',
       '775190277a849cba701b306a7b374c0a'], dtype=object)

In [83]:
main_table.Gender.unique()

array(['male', 'female', 'Male', 'Fem', 'FeMale'], dtype=object)

In [84]:
main_table['Gender'].str.lower()

main_table.loc[(main_table['Gender'].str.lower().str[0] == 'm'),'Gender']='Male'
main_table.loc[(main_table['Gender'].str.lower().str[0] == 'f'),'Gender']='Female'

In [85]:
main_table.head()

  country_code               normalized_job_code  Gender  Quantity
0           AT                              None    Male       133
1           BE                              None  Female       179
2           BG                              None    Male       141
3           CY                              None    Male        13
4           CZ  e55556364d2096578fd153e9800e826f    Male       189

In [87]:
main_table.Gender.unique()

array(['Male', 'Female'], dtype=object)

In [88]:
main_table

   country_code               normalized_job_code  Gender  Quantity
0            AT                              None    Male       133
1            BE                              None  Female       179
2            BG                              None    Male       141
3            CY                              None    Male        13
4            CZ  e55556364d2096578fd153e9800e826f    Male       189
5            DE  d4624ed8068d24948e18303212593cd6    Male      1420
6            DK                              None  Female       119
7            EE                              None    Male        18
8            ES  7028f15ad274cb4d9505101b9c1306b1    Male      1005
9            FI  679fb7003e0aedc14891fcd15dd846c5    Male       113
10           FR                              None    Male      1248
11           GB  edc64316da9707432443c7a4461abe6c    Male      1199
12           GR  ec3d88b2fd083b870b8c5a603898ed39  Female       225
13           HR  8fd068c8d9be73abfa678856177b6c40    Male        87
14           HU  1a281bf4bd1fe9b2a6e464e508bea167    Male       206
15           IE  569da68cdcac43a3b4a0126ea9170570  Female        90
16           IT  a2a9fbe67b4aa2b551ba0f3adac90a99  Female      1138
17           LT  27af8700f5577cec835acee2cb90a2ff  Female        50
18           LU  07b7555fa790debaf5b04d1409ad5f11  Female        11
19           LV  049a3f3a2b5f85cb2971ba77ad66e10c    Male        36
20           MT  7bb15eefb19ed09c59349baad7e8469e    Male         8
21           NL  7932d4705d002b47789c11edfaed685e    Male       331
22           PL  41b2978a2c07c5f477e60f26372d6c85    Male       860
23           PT  679fb7003e0aedc14891fcd15dd846c5  Female       202
24           RO  477b53ef09d37f098d5ed74f47fcbaec    Male       332
25           SE  a4d5b8b38f9513825d0d94a981ebe962  Female       175
26           SI  499f9d9b6722342608656559b15abd90    Male        28
27           SK  775190277a849cba701b306a7b374c0a    Male        93